%h1= t("registrations.header")

.registration-form
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    .form-group
      = f.label :firstname
      = f.text_field :firstname, autofocus: true, class: "form-control"

    .form-group
      = f.label :lastname
      = f.text_field :lastname, class: "form-control"

    .form-group
      = f.label :email
      = f.email_field :email, class: "form-control"

    .form-group
      = f.label :password
      - if @validatable
        (#{@minimum_password_length} characters minimum)
      = f.password_field :password, autocomplete: "off", class: "form-control"

    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

    .form-group
      = f.submit t("registrations.submit"), class: "btn btn-success"
      = button_to t("registrations.cancel"), :back, class: "btn btn-danger"
