%h1 Skapa ny marknad

.market-form
  = form_for @market do |f|
    .form-group
      = f.label :name, "Namn"
      = f.text_field :name, class: "form-control"

    .form-group
      = f.label :description, "Beskrivning"
      = f.text_area :description, class: "form-control"

    .form-group
      = f.label :address, "adress"
      = f.text_field :address, placeholder: "Biblioteksgatan 100, 12345 Staden", class: "form-control"

    .form-group
      = f.submit "Skapa marknad", class: "btn btn-success"
      = button_to "Avbryt", :back, class: "btn btn-danger"
