%h1= t("markets.header_create")

.market-form
  = form_for @market do |f|
    .form-group
      = f.label :name, t("markets.name")
      = f.text_field :name, class: "form-control"

    .form-group
      = f.label :description, t("markets.description")
      = f.text_area :description, class: "form-control"

    .form-group
      = f.label :address, t("markets.address")
      = f.text_field :address, placeholder: t("markets.placeholder"), class: "form-control"

    .form-group
      = f.submit t("markets.submit"), class: "btn btn-success"
      = button_to t("markets.cancel"), :back, class: "btn btn-danger"
