%h1
  = @market.name.titleize
  %span.small
    #rating.pull-right

%h4 Beskrivning
%p= @market.description

%h4 Skriv kommentar
= render "comments/form"

%h4 Kommentarer
= render @comments

= render "ratings/update.js.erb"
