%h1
  = @market.name.titleize
  #rating.pull-right

%h5= @market.description

%p Skogängsvägen 59, 163 41 Spånga
%p Vi säljer böcker, kläder och möbler.

.row
  .col-md-6
    %p
      %strong Öppettider
    %p Pågår från 2015-02-10 till 2015-03-10
    %ul
      %li Måndag 09:00-17:00
      %li Tisdag 09:00-17:00
      %li Onsdag 09:00-17:00
      %li Torsdag 09:00-17:00
      %li Fredag 09:00-17:00
      %li Lördag 09:00-17:00
      %li Söndag 09:00-17:00

  .col-md-6
    %p
      %strong Karta

%h3 Kommentarer
- if signed_in?
  = render "comments/form"
= render @comments

= render "ratings/update.js.erb"
