.row
  .col-md-10
    %h1= @market.name.titleize

  .col-md-2
    = number_field_tag :average_rating, @market.average_rating, class: "rating", data: { size: "xs", readonly: "readonly", show_clear: "false", show_caption: "false" }

.row
  .col-md-12
    %p= @market.description
    %p= @market.address
    %p Vi säljer böcker, kläder och möbler.

.row
  .col-md-6
    %p
      %strong= t("markets.opening_hours")
    %p Pågår från 2015-02-10 till 2015-03-10
    %ul
      %li Måndag 09:00-17:00
      %li Tisdag 09:00-17:00
      %li Onsdag 09:00-17:00
      %li Torsdag 09:00-17:00
      %li Fredag 09:00-17:00
      %li Lördag 09:00-17:00
      %li Söndag 09:00-17:00

  .col-md-6
    %p
      %strong= t("markets.map")
    = image_tag "http://maps.google.com/maps/api/staticmap?size=400x400&sensor=false&zoom=16&markers=#{@market.latitude}%2C#{@market.longitude}"

.row
  .col-md-12
    %h3= t("markets.reviews")

    - if signed_in?
      = render "reviews/form"

    = render @market.reviews
