%h1= @market.name
%p= @market.description

%p Omdöme
#average-rating

%p Lämna omdöme
#user-rating

= render "ratings/update.js.erb"

%h2 Skriv kommentar
= render "comments/form"

%h2 Kommentarer
= render @comments
