%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}= t("site")
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if signed_in?
          %li
            = link_to t("navigation.new_location"), new_location_path
          %li
            = link_to t("navigation.log_out"), destroy_user_session_path, method: :delete
        - else
          %li
            = link_to t("navigation.log_in"), new_user_session_path
          %li
            = link_to t("navigation.register"), new_user_registration_path

      - if signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to t("navigation.logged_in_as", name: current_user.name, location: request.location.city), "#"
