%h1 Loppmarknad

- if signed_in?
  %p Inloggad som #{current_user.email} ♥ Gosen

%ul{class: "nav nav-pills"}
  - if signed_in?
    %li= link_to "Ny loppmarknad", "#"
    %li= link_to "Min profil", "#"
    %li= link_to "Logga ut", destroy_user_session_path, method: :delete
  - else
    %li= link_to "Logga in", new_user_session_path
    %li= link_to "Registrera", new_user_registration_path
