!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Loppmarknad

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render "layouts/nav"

    .container
      - if notice.present?
        .alert.alert-success{:role => "alert"}
          %p= notice

      - if alert.present?
        .alert.alert-danger{:role => "alert"}
          %p= alert

      = yield

      = render "layouts/footer"
